<section class="auth-container">
  @if (isLoginView) {
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input type="email" formControlName="email" placeholder="Email">
      <input type="password" formControlName="password" placeholder="Пароль">
      <button type="submit" [disabled]="loginForm.invalid">Войти</button>
      <button type="button" (click)="toggleView()">Перейти к регистрации</button>
    </form>
  } @else {
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <input type="text" formControlName="firstName" placeholder="სახელი">
      <input type="text" formControlName="lastName" placeholder="გვარი">
      <input type="number" formControlName="age" placeholder="ასაკი">
      <input type="email" formControlName="email" placeholder="Email">
      <input type="password" formControlName="password" placeholder="პაროლი">
      <input type="text" formControlName="address" placeholder="მისამართი">
      <input type="text" formControlName="phone" placeholder="ტელ. ნომერი">
      <input type="text" formControlName="zipcode" placeholder="პოჩტური ინდექსი">
      <input type="text" formControlName="avatar" placeholder="ავატარის URL">
      <select formControlName="gender">
        <option value="MALE">მამრობითი</option>
        <option value="FEMALE">მდედრობითი</option>
        <option value="OTHER">სხვა</option>
      </select>
      <button type="submit" [disabled]="registerForm.invalid">რეგისტრაცია</button>
      <button type="button" (click)="toggleView()">Перейти ко входу</button>
    </form>
  }
</section>